In [3]:
import pandas as pd

df2 = pd.read_csv("cleaned_comparing_data_food_items_last_month.csv")
df1 = pd.read_csv("cleaned_item_name.csv")

# Step 2: Find rows in df2 whose batch_code is not in df1
new_items = df2[~df2['batch_code'].isin(df1['batch_code'])]

In [4]:
new_items

    batch_code                                          item_name
2       343965                          N Hot Beverage speciality
6       356458                                   Cookie chocolate
9       486186  plant balls mash peas/crm sauce lingnberry jam...
15    10585586            strawberry fruit soft ice sugar cone CA
19    20331259                                        Cake carrot
21    20343380                                                Egg
26    20575186                                                Tea
27    20576336                               chocolate fudge cake
29    30339090                                         Tea, large
34    30595136                plant balls cauliflower bean mix CA
37    40606988  Veggie balls mashed potato curry sau/half port...
41    50587569           plant-based pieces lingonberry BBQ sauce
44    60486188                                plant balls 4 piece
51    70592999                             Danish pastry fruit CA
58    80486187  plant balls mash peas/crm sauce lingnbrry jam 5pc
64    90569605         Salmon fillet cauliflower risotto/bean mix

In [5]:
new_items.to_csv("Items_to_add.csv", index=False)